#header {
  text-align: center;
}

#header h1 {
  color: blue;
}

#header h3 {
  color: rgb(98, 98, 244);
}

#navbar {
  padding: 10px;
  border: 2px solid blue;
  border-radius: 15px;
  color: rgb(87, 87, 215);
  margin: 10px;
}

input[type="submit"] {
  background-color: rgb(114, 143, 249);
  border: none;
  border-radius: 50px;
  padding: 5px;
  width: 100px;
}
